.header {
  background-color: brown;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem 2rem;
}
.header .logo {
  color: white;
  font-size: 2rem;
}
.nav ul {
  text-align: center;
  display: flex;
  list-style: none;
  gap: 1rem;
}
.nav ul li a {
  color: white;
}
