.main {
  background-color: aliceblue;
  border-radius: 0.5rem;
  padding: 0.5rem;
  width: 50%;
  box-sizing: border-box;
  height: 16rem;
}

.main img {
  width: 100%;
}
.main h2 {
  margin-top: 1rem;
}
